PORT=5000
NODE_ENV=development
JWT_SECRET=your-super-secret-jwt-key-change-this

FIREBASE_PROJECT_ID=razzhex
FIREBASE_STORAGE_BUCKET=razzhex.appspot.com
FIREBASE_SERVICE_ACCOUNT_KEY=./serviceAccountKey.json

VITE_FIREBASE_API_KEY=AIzaSyABVIoFS_X-VCKj84iWFKMT8hdZdpZxio0
VITE_FIREBASE_AUTH_DOMAIN=razzhex.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=razzhex
VITE_FIREBASE_STORAGE_BUCKET=razzhex.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=383106787089
VITE_FIREBASE_APP_ID=1:383106787089:web:b8b1bdef500be692b80eb0

VITE_WHATSAPP_NUMBER=94787148687